<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ranking dos Piores Superpoderes</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>Ranking dos Piores Superpoderes</h1>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Poder</th>
        <th>Razão</th>
        <th>Data de Criação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="superpoder : ${superpoderes}">
        <td th:text="${superpoder.nome}"></td>
        <td th:text="${superpoder.descricao}"></td>
        <td th:text="${superpoder.poder}"></td>
        <td th:text="${superpoder.razao}"></td>
        <td th:text="${superpoder.dataCriacao}"></td>
    </tr>
    </tbody>
</table>

<a href="/superpoderes/novo">Cadastrar novo superpoder</a>
</body>
</html>